.single-book-li {
  margin: 2% 0;
  padding: 1%;
  border-bottom: 1px solid grey;
}

.single-book-li img {
  width: 100px;
}

.single-book-li p {
  font-size: 15px;
}

.single-book-li button {
  margin: 2% 0;
  width: 100%;
}